.Textcompression {
  font-family: 'Times New Roman', sans-serif;
  padding-left: 68px;
  padding-right: 370px;
 
}

.fullscreenimage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1520px;
  height: 470px;
}

.Text {
  width: 750px;
}

.inflectionOfTwoTexts {
  display: flex;
}

.LittelText {
  width: 300px;
}

.mainPageComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.littelfoto { 
  width: 20px;
  height: 20px;
}

.fotoGmail {
  margin-left: 12px;
}

.littelcomponents {
  padding-left: 60px;
  padding-top: 20px;
}

